In [61]:
import pandas as pd
# first data set is training set and second data set if test set

In [62]:
import csv
from sklearn.model_selection import train_test_split

df_train = pd.read_csv("../train.csv", lineterminator='\n')
df_train.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [63]:
import pandas as pd

a = pd.read_csv("Fake.csv")
print(a.shape)
b = pd.read_csv("True.csv")
print(b.shape)
a['label'] = 1
b['label'] = 0
df_test = a.append(b)
print(df.shape)
df_test.to_csv("output.csv", index=False)

(23481, 4)
(21417, 4)
(20800, 5)

In [64]:
print(df.head())

   id                                              title              author  \
0   0  House Dem Aide: We Didn’t Even See Comey’s Let...       Darrell Lucus
1   1  FLYNN: Hillary Clinton, Big Woman on Campus - ...     Daniel J. Flynn
2   2                  Why the Truth Might Get You Fired  Consortiumnews.com
3   3  15 Civilians Killed In Single US Airstrike Hav...     Jessica Purkiss
4   4  Iranian woman jailed for fictional unpublished...      Howard Portnoy

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [65]:
print(df_train.shape)


df_train.dropna(subset = ["title"], inplace=True) # removing the null rows for title
df_train.dropna(subset = ["text"], inplace=True) # removing the null rows for title


print(df_train.shape)

(20800, 5)
(20203, 5)

In [66]:
print(df_test.shape)


df_test.dropna(subset = ["title"], inplace=True) # removing the null rows for title
print(df_test.shape)
df_test.dropna(subset = ["text"], inplace=True) # removing the null rows for title


print(df_test.shape)

(44898, 5)
(44898, 5)
(44898, 5)

In [67]:
from sklearn.model_selection import train_test_split

df_test, df_test_not_used = train_test_split(df_test, test_size=0.5)# need to split it because too big

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import make_column_transformer # for vectorizing multiple columns at the same time

vectorizer = TfidfVectorizer()

X_train = df_train[["title", "text"]]
X_test = df_test[["title", "text"]]


ct = make_column_transformer((vectorizer, "title"), (vectorizer, "text") )

X_train_vectorized = ct.fit_transform(X_train)
X_test_vectorized = ct.transform(X_test)


y_train = df_train.iloc[:, 4:5]
y_test = df_test.iloc[:, 4:5]

In [69]:
y_train = df_train.iloc[:, 4:5]
y_test = df_test.iloc[:, 4:5]

In [70]:
print(y_train)

       label
0          1
1          0
2          1
3          1
4          1
...      ...
20795      0
20796      0
20797      0
20798      1
20799      1

[20203 rows x 1 columns]

In [71]:
print(y_test)

       label
14948      0
4077       0
10343      0
15867      0
13336      0
...      ...
11906      1
8243       1
8805       0
9828       1
8513       1

[22449 rows x 1 columns]

In [72]:
from sklearn.svm import SVC
clf = SVC()

In [73]:

X_train_vectorized_df = pd.DataFrame(X_train_vectorized.toarray())
X_test_vectorized_df = pd.DataFrame(X_test_vectorized.toarray())

In [74]:
clf.fit(X_train_vectorized, y_train)

/home/louda622/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [75]:
from sklearn.metrics import classification_report
y_pred = clf.predict(X_test_vectorized_df)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.38      0.51     10755
           1       0.61      0.92      0.74     11694

    accuracy                           0.66     22449
   macro avg       0.71      0.65      0.62     22449
weighted avg       0.71      0.66      0.63     22449