In [1]:
import pandas as pd
# second data set is training set and first data set if test set

In [2]:
import csv
from sklearn.model_selection import train_test_split

df_test = pd.read_csv("../train.csv", lineterminator='\n')
df_test.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
import pandas as pd

a = pd.read_csv("Fake.csv")
print(a.shape)
b = pd.read_csv("True.csv")
print(b.shape)
a['label'] = 1
b['label'] = 0
df_train = a.append(b)
print(df_train.shape)
df_train.to_csv("output.csv", index=False)

(23481, 4)
(21417, 4)
(44898, 5)

In [5]:
print(df_train.head())

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

                                                text subject  \
0  Donald Trump just couldn t wish all Americans ...    News
1  House Intelligence Committee Chairman Devin Nu...    News
2  On Friday, it was revealed that former Milwauk...    News
3  On Christmas day, Donald Trump announced that ...    News
4  Pope Francis used his annual Christmas Day mes...    News

                date  label
0  December 31, 2017      1
1  December 31, 2017      1
2  December 30, 2017      1
3  December 29, 2017      1
4  December 25, 2017      1

In [6]:
print(df_train.shape)


df_train.dropna(subset = ["title"], inplace=True) # removing the null rows for title
df_train.dropna(subset = ["text"], inplace=True) # removing the null rows for title


print(df_train.shape)

(44898, 5)
(44898, 5)

In [7]:
print(df_test.shape)


df_test.dropna(subset = ["title"], inplace=True) # removing the null rows for title
print(df_test.shape)
df_test.dropna(subset = ["text"], inplace=True) # removing the null rows for title


print(df_test.shape)

(20800, 5)
(20242, 5)
(20203, 5)

In [8]:
from sklearn.model_selection import train_test_split

df_train, df_train_not_used = train_test_split(df_train, test_size=0.5)# need to split it because too big

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import make_column_transformer # for vectorizing multiple columns at the same time

vectorizer = TfidfVectorizer()

X_train = df_train[["title", "text"]]
X_test = df_test[["title", "text"]]


ct = make_column_transformer((vectorizer, "title"), (vectorizer, "text") )

X_train_vectorized = ct.fit_transform(X_train)
X_test_vectorized = ct.transform(X_test)


y_train = df_train.iloc[:, 4:5]
y_test = df_test.iloc[:, 4:5]

In [10]:
y_train = df_train.iloc[:, 4:5]
y_test = df_test.iloc[:, 4:5]

In [11]:
print(y_train)

       label
21350      0
6246       0
1831       1
5773       0
744        0
...      ...
11651      0
7114       1
21108      1
8684       0
4497       0

[22449 rows x 1 columns]

In [12]:
print(y_test)

       label
0          1
1          0
2          1
3          1
4          1
...      ...
20795      0
20796      0
20797      0
20798      1
20799      1

[20203 rows x 1 columns]

In [13]:
from sklearn.svm import SVC
clf = SVC()

In [14]:

X_train_vectorized_df = pd.DataFrame(X_train_vectorized.toarray())
X_test_vectorized_df = pd.DataFrame(X_test_vectorized.toarray())

In [15]:
clf.fit(X_train_vectorized, y_train)

/home/louda622/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [16]:
from sklearn.metrics import classification_report
y_pred = clf.predict(X_test_vectorized_df)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.75      0.27      0.39     10387
           1       0.54      0.91      0.68      9816

    accuracy                           0.58     20203
   macro avg       0.64      0.59      0.53     20203
weighted avg       0.65      0.58      0.53     20203