In [1]:
import pandas as pd
# first data set is testing set and second data set is train set

In [2]:
import csv
from sklearn.model_selection import train_test_split

df_test = pd.read_csv("../train.csv", lineterminator='\n')
df_test.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [3]:
import pandas as pd

a = pd.read_csv("Fake.csv")
print(a.shape)
b = pd.read_csv("True.csv")
print(b.shape)
a['label'] = 1
b['label'] = 0
df_train = a.append(b)
print(df_train.shape)
df_train.to_csv("output.csv", index=False)

(23481, 4)
(21417, 4)
(44898, 5)

In [4]:
print(df_test.shape)


df_test.dropna(subset = ["title"], inplace=True) # removing the null rows for title
df_test.dropna(subset = ["text"], inplace=True) # removing the null rows for title


print(df_test.shape)

(20800, 5)
(20203, 5)

In [5]:
print(df_train.shape)


df_train.dropna(subset = ["title"], inplace=True) # removing the null rows for title
print(df_train.shape)
df_train.dropna(subset = ["text"], inplace=True) # removing the null rows for title


print(df_train.shape)

(44898, 5)
(44898, 5)
(44898, 5)

In [6]:
from sklearn.model_selection import train_test_split

df_test, df_test_not_used = train_test_split(df_test, test_size=0.2)# need to split it because too big
df_train, df_train_not_used = train_test_split(df_train, test_size=0.6)# need to split it because too big

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import make_column_transformer # for vectorizing multiple columns at the same time

vectorizer = TfidfVectorizer()

X_train = df_train[["title", "text"]]
X_test = df_test[["title", "text"]]


ct = make_column_transformer((vectorizer, "title"), (vectorizer, "text") )

X_train_vectorized = ct.fit_transform(X_train)
X_test_vectorized = ct.transform(X_test)


y_train = df_train.iloc[:, 4:5]
y_test = df_test.iloc[:, 4:5]

In [8]:
from sklearn.neural_network import MLPClassifier
clf=MLPClassifier()

In [9]:

X_train_vectorized_df = pd.DataFrame(X_train_vectorized.toarray())
X_test_vectorized_df = pd.DataFrame(X_test_vectorized.toarray())

In [10]:
clf.fit(X_train_vectorized, y_train)

/home/louda622/.local/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier()

In [11]:
from sklearn.metrics import classification_report
y_pred = clf.predict(X_test_vectorized_df)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.37      0.50      8310
           1       0.57      0.89      0.70      7852

    accuracy                           0.62     16162
   macro avg       0.68      0.63      0.60     16162
weighted avg       0.68      0.62      0.60     16162