In [1]:
# basic pre processing + count vectorizer + NN MLPClassifier

In [2]:
from sklearn.neural_network import MLPClassifier

In [3]:
# this is the begining of the tdde16 text mining project.


import pandas as pd

In [4]:
import csv
from sklearn.model_selection import train_test_split

df = pd.read_csv("train.csv", lineterminator='\n')
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [5]:
print(df.shape)

df.dropna(subset = ["author"], inplace=True) # removing the nan rows for author
print(df.shape)

df.dropna(subset = ["title"], inplace=True) # removing the null rows for title


print(df.shape)

(20800, 5)
(18843, 5)
(18285, 5)

In [6]:
df_train, df_test = train_test_split(df, test_size=0.2)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.compose import make_column_transformer # for vectorizing multiple columns at the same time

vectorizer = CountVectorizer()

X_train = df_train[["title", "author", "text"]]
X_test = df_test[["title", "author", "text"]]


ct = make_column_transformer((vectorizer, "title"), (vectorizer, "author"), (vectorizer, "text") )

X_train_vectorized = ct.fit_transform(X_train)
X_test_vectorized = ct.transform(X_test)


y_train = df_train.iloc[:, 4:5]
y_test = df_test.iloc[:, 4:5]

In [8]:
clf = MLPClassifier()

In [9]:
X_train_vectorized_df = pd.DataFrame(X_train_vectorized.toarray())
X_test_vectorized_df = pd.DataFrame(X_test_vectorized.toarray())

In [10]:
clf.fit(X_train_vectorized, y_train)

/home/louda622/.local/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier()

In [11]:
from sklearn.metrics import classification_report
y_pred = clf.predict(X_test_vectorized_df)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      2082
           1       0.98      0.98      0.98      1575

    accuracy                           0.98      3657
   macro avg       0.98      0.98      0.98      3657
weighted avg       0.98      0.98      0.98      3657